.App {
  margin-top: 2%;
  text-align: center;
  width: 30%;
  height: 60vw;
  margin-left: 40%;
  background-color: #080808;
  border-radius: 7%;
  padding: 1%;
} 
.calculatorScreen{
  background-color: #eb8a30;
  flex-wrap: wrap;
  width: 96%;
  height: 28%;
  margin-right: 2%;
  margin-left: 2%;
  text-align: right;
}
.calculatorText{
  border: 2px red solid;
  background-color: #eb8a30;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.buttonLabel{
  padding-top: 15%;
 }
 .buttonRow{
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   margin: 2%;
 }
 .topmost{
   display: flex;
   justify-content: space-between;
 }
 .calculatorScreen{
   text-align: right;
   font-size: 7vw;
   color: white;

 }
button{
  width: 20%;
  height: 6vw;
  text-align: center;
  font-size: 3vw;
  border-radius: 50%;
  background-color: #b0abab;
  color: white;
  border: none;
  background-color: #3b3b39;
}
.topRow{
  display: flex;
   justify-content: space-around;
   flex-direction: row;
   margin: 2%;
  color: black;
  background-color: #c2c2bc;
}
.zeroButton{
  width: 40%;
  border-top-left-radius: 40%;
border-top-right-radius: 40%;
border-bottom-right-radius: 40%;
border-bottom-left-radius: 40%;
text-align: left;
}
.orangeButtons{
  background-color: #eb8a30; 
  color: white;
}